:root{
    --fundo-imagem: ;
    background-image: url(./img/aizen.png);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--fundo-imagem);
    transition: background- 1s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

input{
    padding: 8px 12px ;
    font-size: 24px;

}

button{
    padding: 8px 12px ;
    font-size: 24px;
    cursor: pointer;
}
