:root {
    --fundo-imagem: url("./img/ichigo.jpg");
}


body {
    background-image: var(--imagem-fundo);
    background-size: cover;
    transition: background-image 0.3s;
}

.container {
    text-align: center;
    padding: 20px;
}

#mudar-img {
    margin-bottom: 20px;

}

button {
    justify-content: start;
    cursor: pointer;
}